<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Периодическая таблица</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header">
    Периодическая система химических элементов Д.И. Менделеева

    <button class="theme-switch" onclick="toggleTheme()" id="themeButton">
        🌙
    </button>
</div>

<div class="container">

    <!-- Поиск -->
    <form action="/search" method="get">
        <input type="text" name="q" placeholder="Введите элемент или символ" required>
        <button type="submit">Поиск</button>
    </form>

    <!-- Сетка групп (верхняя строка) -->
    <div class="groups-header">
        <div class="group-cell"></div>
        {% for g in range(1, 19) %}
            <div class="group-cell"> {{ g }} </div>
        {% endfor %}
    </div>

    <!-- Сетка элементов -->
    <div class="periodic-grid">
        {% for el in elements %}
        <a href="/element/{{ el.id }}" 
           class="element-tile group {{ el.group }}"
           style="grid-column: {{ el.x }}; grid-row: {{ el.y }};">
           
            <div class="tile-number">{{ el.id }}</div>
            <div class="tile-symbol">{{ el.symbol }}</div>
            <div class="tile-name">{{ el.name }}</div>
            <div class="tile-mass">{{ el.mass }}</div>

        </a>
        {% endfor %}
    </div>

</div>


<!-- Темная тема -->
<script>
function toggleTheme() {
    const body = document.body;
    body.classList.toggle("dark");

    if (body.classList.contains("dark")) {
        localStorage.setItem("theme", "dark");
        document.getElementById("themeButton").textContent = "☀";
    } else {
        localStorage.setItem("theme", "light");
        document.getElementById("themeButton").textContent = "🌙";
    }
}

window.onload = function () {
    const theme = localStorage.getItem("theme");
    if (theme === "dark") {
        document.body.classList.add("dark");
        document.getElementById("themeButton").textContent = "☀";
    } else {
        document.getElementById("themeButton").textContent = "🌙";
    }
}
</script>

</body>
</html>
